/ubi/build*
/build*
/napi/v8/build*
/ubi/Testing
.DS_Store
/ubi/tests/cmake
/Testing
/napi/target
/napi/wasmer/target
/napi/cmake
v8-*.tar.xz
/deps/libuv-wasix
/deps/openssl-wasix

# direnv
.envrc
.direnv
