/build*
/napi/v8/build*
.DS_Store
/Testing
/tests/cmake
/napi/target
/napi/wasmer/target
/napi/cmake
v8-*.tar.xz
/deps/libuv-wasix
/deps/openssl-wasix
/dist
/v8-custom-builds
/.vscode
/.framework-test
/.pnpm-store

# direnv
.envrc
.direnv
benchmarks/results/*.json
benchmarks/results/*.csv
benchmarks/results/*.md
