[submodule "test"]
	path = test
	url = https://github.com/Arshia001/node-test.git
[submodule "wasmer-examples"]
	path = wasmer-examples
	url = git@github.com:wasmerio/examples.git
[submodule "napi"]
	path = napi
	url = https://github.com/wasmerio/napi.git
	branch = main
[submodule "ssl-certs"]
	path = ssl-certs
	url = https://github.com/wasix-org/ssl-certs.git
[submodule "deps/libuv-wasix"]
	path = deps/libuv-wasix
	url = https://github.com/wasix-org/libuv.git
	branch = wasix-1.51.0
[submodule "deps/openssl-wasix"]
	path = deps/openssl-wasix
	url = https://github.com/wasix-org/openssl.git
	branch = wasix-3.5.8
